# Задание 1

In [1]:
my_string = "TARELKA"
my_string[3]

'E'

In [5]:
my_string = "NOTEBOOK"
my_string[3:5]

'EB'

# Задание 2

In [22]:
sum = 0
while True:
    user_input = int(input('Введите число '))
    if user_input != 0:
        sum += user_input
    elif user_input == 0:
        break
print(("Результат"), (sum))

Введите число 0
Результат 0

# Задание 3

In [ ]:
что надо написать чтобы выводилось еще в начале столбца Идеальная пара?

In [16]:
boys = ('Peter', 'Alex', 'John', 'Arthur', 'Richard') 
girls = ('Kate', 'Liza', 'Kira', 'Emma', 'Trisha')
boys = sorted(boys)
girls = sorted(girls)
para = zip(boys, girls)
para = list(para)
for element in para:
    print(element[0], 'и', element[1])

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [29]:
boys = ('Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Petr') 
girls = ('Kate', 'Liza', 'Kira', 'Emma', 'Trisha')
boys = sorted(boys)
girls = sorted(girls)
para = zip(boys, girls)
if len(boys) > len(girls):
    print("Внимание, кто-то может остаться без пары!")

Внимание, кто-то может остаться без пары!

# Задача 4

In [ ]:
Не поняла как тут воспользовать сразу sum_

In [116]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [14]:
sum(countries_temperature[0][1])

NameError: name 'countries_temperature' is not defined

In [120]:
for country_info in countries_temperature:
    print(country_info[0])
    temp_sum = 0
    for temp in country_info[1]:
        temp_sum += temp
    print((((temp_sum / len(country_info[1])) - 32) * 5) / 9)

Thailand
23.85714285714285
Germany
13.799999999999999
Russia
3.714285714285717
Poland
11.999999999999996